:root {
    --primary-text-color: #757575;
    --title-text-color: #212121;
    --accent-color: #2196F3;
    --background-color: #ffffff;
    --section-color: #F5F5F5;
    --hero-footer-color: #2F303A;
    --team-color: #F5F4FA;
    --hero-button: #188CE8;
    --mailtel-color: #rgba(255, 255, 255, 0.6);
    --border: #ececec;
    --icon-color: #afb1b8;
    --icon-background: rgba(255, 255, 255, 0.1);
    --background-label: rgba(47, 48, 58, 0.8);
    --card-description: rgba(33, 150, 243, 0.9);
    --modal-border: rgba(0, 0, 0, 0.1);
    --modal-input-color: rgba(33, 33, 33, 0.2);
    --modal-text: rgba(117, 117, 117, 0.5);
    --border-subscribe: rgba(255, 255, 255, 0.3);
}